# STT Server
torch
transformers
accelerate
soundfile
librosa

# API Server
fastapi
uvicorn
python-multipart
httpx

# Database
psycopg2-binary

# Utils
python-dotenv
requests

# Rich Menu image generation
pillow
